Repository luke-h1/pulse, changes with the labels that .github/labeler.yml gives for each.
All labels: Server, Frontend, Common, Admin, Editor, GraphQL-hooks, ui, Infrastructure, Documentation

.github/labeler.yml:

Server:
    - "**/server/*"
    - "**/server/**/*"

Frontend:
    - "**/frontend/*"
    - "**/frontend/**/*"

Common: 
    - "**/common/*"
    - "**/common/**/*"

Admin:
    - "**/admin/*"
    - "**/admin/**/*"

Editor:
    - "**/editor/*"
    - "**/editor/**/*"

GraphQL-hooks:
    - "**/graphql-hooks/*"
    - "**/graphql-hooks/**/*"

ui:
    - "**/ui/*"
    - "**/ui/**/*"

Infrastructure:
    - "**/terraform/*"
    - "**/terraform/**/*"
    - ".github/*"
    - ".github/**/*"
    - "docker"

Documentation:
    - "README.md"

chore(frontend): add health handlers to frontend apps
  apps/admin/src/pages/api/health.ts
  apps/frontend/src/pages/api/health.ts
Labels: Frontend, Admin

feat(server): create prod dockerfile for server
  Dockerfile.server
  package.json
  pnpm-lock.yaml
Labels: none

feat(infra): create prod docker files for frontend & admin
  Dockerfile.admin
  Dockerfile.frontend
  apps/admin/package.json
Labels: Admin

chore(infra): add sample tfvars
  .gitignore
  apps/server/.env.example
  apps/server/src/types/env.d.ts
  terraform/admin/sample.tfvars
  terraform/admin/variables.tf
  terraform/frontend/sample.tfvars
  terraform/server/sample.tfvars
Labels: Server, Frontend, Admin, Infrastructure

feat(infra): add init deploy pipeline
  .github/workflows/deploy.yml
  Makefile
Labels: Infrastructure

feat(infra): add init deploy pipeline
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(infra): add init deploy pipeline
  .github/workflows/deploy.yml
Labels: Infrastructure

feat(infra): add init deploy pipeline
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: try to fix Makefile issues
  .github/workflows/deploy.yml
  Makefile
  terraform/admin/sample.tfvars
  terraform/frontend/sample.tfvars
  terraform/server/sample.tfvars
Labels: Server, Frontend, Admin, Infrastructure

chore: try to fix Makefile issues
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(infra): remove unused vars for server
  terraform/server/variables.tf
Labels: Server, Infrastructure

fix(infra): remove unused vars for server
  .github/workflows/deploy.yml
  terraform/server/variables.tf
Labels: Server, Infrastructure

fix(infra): fix server dply issue
  terraform/server/container-defs.json
Labels: Server, Infrastructure

fix(infra): change json files to tpl
  terraform/admin/container-definitions.json.tpl
  terraform/frontend/container-defs.json.tpl
  terraform/server/container-defs.json.tpl
Labels: Server, Frontend, Admin, Infrastructure

fix(infra): change json files to tpl
  terraform/admin/ecs.tf
  terraform/frontend/ecs.tf
  terraform/server/ecs.tf
Labels: Server, Frontend, Admin, Infrastructure

fix(infra): change json files to tpl
  terraform/server/ecs.tf
Labels: Server, Infrastructure

fix(infra): change json files to tpl
  terraform/server/ecs.tf
Labels: Server, Infrastructure

fix(infra): change json files to tpl
  Makefile
  terraform/admin/ecs.tf
  terraform/frontend/ecs.tf
Labels: Frontend, Admin, Infrastructure

fix(infra): add auto approve
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(infra): add auto approve
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(infra): add auto approve
  terraform/server/ecs.tf
Labels: Server, Infrastructure

fix(infra): add auto approve
  terraform/server/ecs.tf
  terraform/server/variables.tf
Labels: Server, Infrastructure

fix(infra): change docker image loc
  terraform/server/ecs.tf
  terraform/server/variables.tf
Labels: Server, Infrastructure

fix(infra): change docker image loc
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: fix typo
  terraform/server/container-defs.json.tpl
Labels: Server, Infrastructure

chore: fix typo
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: add destroy workflow
  .github/workflows/destroy.yml
Labels: Infrastructure

chore: fix typo
  terraform/server/container-defs.json.tpl
Labels: Server, Infrastructure

fix(infra): use jsonencode
  terraform/server/ecs.tf
Labels: Server, Infrastructure

fix(infra): use jsonencode
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: pin terraform version
  terraform/admin/main.tf
  terraform/frontend/main.tf
  terraform/server/ecs.tf
  terraform/server/main.tf
Labels: Server, Frontend, Admin, Infrastructure

chore: fix tf
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: fix tf
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: fix tf
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: fix tf
  terraform/server/lb.tf
Labels: Server, Infrastructure

chore: fix tf
  terraform/server/ecs.tf
Labels: Server, Infrastructure

chore: fix tf
  terraform/policies/task-exec-role.json
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure
