Repository luke-h1/pulse, changes with the labels that .github/labeler.yml gives for each.
All labels: Server, Frontend, Common, Admin, Editor, GraphQL-hooks, ui, Infrastructure, Documentation

.github/labeler.yml:

Server:
    - "**/server/*"
    - "**/server/**/*"

Frontend:
    - "**/frontend/*"
    - "**/frontend/**/*"

Common: 
    - "**/common/*"
    - "**/common/**/*"

Admin:
    - "**/admin/*"
    - "**/admin/**/*"

Editor:
    - "**/editor/*"
    - "**/editor/**/*"

GraphQL-hooks:
    - "**/graphql-hooks/*"
    - "**/graphql-hooks/**/*"

ui:
    - "**/ui/*"
    - "**/ui/**/*"

Infrastructure:
    - "**/terraform/*"
    - "**/terraform/**/*"
    - ".github/*"
    - ".github/**/*"
    - "docker"

Documentation:
    - "README.md"

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
Labels: Infrastructure

chore: only deploy server image
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
  Dockerfile.server
  apps/server/package.json
Labels: Server, Infrastructure

wip
  .github/workflows/deploy.yml
  terraform/server/ecs.tf
  terraform/server/variables.tf
Labels: Server, Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  terraform/server/container-defs.json.tpl
  terraform/server/variables.tf
Labels: Server, Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  .github/workflows/deploy.yml
Labels: Infrastructure

wip
  terraform/policies/assume-role-policy.json
  terraform/policies/task-exec-role.json
Labels: Infrastructure

wip
  apps/server/src/main.ts
  terraform/server/lb.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/variables.tf
Labels: Server, Infrastructure

wip
  terraform/server/variables.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  terraform/server/ecs.tf
Labels: Server, Infrastructure

wip
  .github/workflows/destroy.yml
Labels: Infrastructure

project setup
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  apps/admin/.env.example
  apps/frontend/.env.example
  apps/server/.env.example
  apps/server/src/main.ts
  terraform/policies/assume-role-policy.json
  terraform/policies/task-exec-role.json
  terraform/server/db.tf
  terraform/server/ecs.tf
  terraform/server/lb.tf
  terraform/server/network.tf
  terraform/server/outputs.tf
  terraform/server/variables.tf
Labels: Server, Frontend, Admin, Infrastructure

project setup
  terraform/server/ecs.tf
Labels: Server, Infrastructure

Update README.md
  README.md
Labels: Documentation

Delete renovate.json
  renovate.json
Labels: none
