Repository luke-h1/pulse, changes with the labels that .github/labeler.yml gives for each.
All labels: Server, Frontend, Common, Admin, Editor, GraphQL-hooks, ui, Infrastructure, Documentation

.github/labeler.yml:

Server:
    - "**/server/*"
    - "**/server/**/*"

Frontend:
    - "**/frontend/*"
    - "**/frontend/**/*"

Common: 
    - "**/common/*"
    - "**/common/**/*"

Admin:
    - "**/admin/*"
    - "**/admin/**/*"

Editor:
    - "**/editor/*"
    - "**/editor/**/*"

GraphQL-hooks:
    - "**/graphql-hooks/*"
    - "**/graphql-hooks/**/*"

ui:
    - "**/ui/*"
    - "**/ui/**/*"

Infrastructure:
    - "**/terraform/*"
    - "**/terraform/**/*"
    - ".github/*"
    - ".github/**/*"
    - "docker"

Documentation:
    - "README.md"

Update README.md
  packages/graphql-hooks/README.md
Labels: GraphQL-hooks

refactor(graphql-hooks): move common queries + mutations to common
  apps/common/src/graphql/mutations/login.graphql
  apps/common/src/graphql/mutations/logout.graphql
  apps/common/src/graphql/queries/me.graphql
  apps/common/src/graphql/queries/post.graphql
  apps/common/src/graphql/queries/posts.graphql
  apps/common/src/graphql/queries/project.graphql
  apps/common/src/graphql/queries/projects.graphql
  apps/common/src/graphql/queries/user.graphql
  packages/graphql-hooks/codegen.ts
  packages/graphql-hooks/generated/index.tsx
  roadmap.md
Labels: Common, GraphQL-hooks

feat(admin): cleanup admin _app.tsx
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/pages/_app.tsx
  apps/admin/tsconfig.json
  apps/frontend/next.config.js
  pnpm-lock.yaml
  roadmap.md
Labels: Frontend, Admin

feat: move createUrqlClient to common
  apps/admin/package.json
  apps/admin/src/components/AuthGuard.tsx
  apps/admin/src/hooks/useIsAdmin.ts
  apps/admin/src/pages/_app.tsx
  apps/admin/src/pages/index.tsx
  apps/common/package.json
  apps/common/src/urql/createUrqlClient.ts
  apps/common/src/urql/customUpdateQuery.ts
  apps/frontend/package.json
  apps/frontend/src/graphql/mutations/login.graphql
  apps/frontend/src/graphql/mutations/logout.graphql
  apps/frontend/src/graphql/mutations/register.graphql
  apps/frontend/src/graphql/queries/me.graphql
  apps/frontend/src/graphql/queries/post.graphql
  apps/frontend/src/graphql/queries/posts.graphql
  apps/frontend/src/graphql/queries/project.graphql
  apps/frontend/src/graphql/queries/projects.graphql
  apps/frontend/src/graphql/queries/user.graphql
  apps/frontend/src/pages/auth/login.tsx
  apps/frontend/src/pages/auth/register.tsx
  apps/frontend/src/pages/feed.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/posts/[id]/index.tsx
  apps/frontend/src/pages/posts/[id]/preview.tsx
  apps/frontend/src/pages/posts/[id]/update.tsx
  apps/frontend/src/pages/posts/create.tsx
  apps/frontend/src/pages/posts/index.tsx
  apps/frontend/src/pages/projects/[id]/index.tsx
  apps/frontend/src/pages/projects/[id]/preview.tsx
  apps/frontend/src/pages/projects/[id]/update.tsx
  apps/frontend/src/pages/projects/create.tsx
  apps/frontend/src/pages/projects/index.tsx
  apps/frontend/src/pages/users/me.tsx
  packages/graphql-hooks/codegen.ts
  packages/graphql-hooks/generated/index.tsx
  pnpm-lock.yaml
Labels: Frontend, Common, Admin, GraphQL-hooks

feat(admin): setup URQL client for admin
  apps/admin/package.json
  apps/admin/src/pages/index.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: Frontend, Admin

feat(admin): scaffold admin pages
  apps/admin/src/pages/posts/[id].tsx
  apps/admin/src/pages/posts/index.tsx
  apps/admin/src/pages/projects/[id].tsx
  apps/admin/src/pages/projects/index.tsx
  apps/admin/src/pages/users/[id].tsx
  apps/admin/src/pages/users/index.tsx
  apps/admin/src/pages/utilities.tsx
Labels: Admin

wip
  apps/admin/src/graphql/mutations/deleteUser.graphql
  apps/admin/src/graphql/mutations/updateUserStatus.graphql
  apps/admin/src/graphql/queries/adminPosts.graphql
  apps/admin/src/graphql/queries/users.graphql
  apps/admin/src/pages/index.tsx
  apps/admin/src/pages/posts/[id].tsx
  apps/admin/src/pages/posts/index.tsx
  apps/admin/src/pages/projects/[id].tsx
  apps/admin/src/pages/projects/index.tsx
  apps/admin/src/pages/users/[id].tsx
  apps/admin/src/pages/users/index.tsx
  apps/admin/src/pages/utilities.tsx
  apps/admin/tsconfig.json
  apps/common/package.json
  apps/common/src/components/PostCard.tsx
  apps/common/src/components/PostPage.tsx
  apps/common/src/components/PostsSection.tsx
  apps/common/src/components/ProjectCard.tsx
  apps/common/src/components/ProjectPage.tsx
  apps/common/src/components/ProjectsSection.tsx
  apps/common/src/types/util.ts
  apps/common/src/urql/createUrqlClient.ts
  apps/common/tsconfig.json
  apps/frontend/src/components/Feed.tsx
  apps/server/schema.graphql
  apps/server/src/main.ts
  apps/server/src/resolvers/post/post.ts
  apps/server/src/resolvers/project/project.ts
  apps/server/src/resolvers/user/user.ts
  apps/server/src/test/__mocks__/express.ts
  packages/graphql-hooks/generated/index.tsx
  pnpm-lock.yaml
Labels: Server, Frontend, Common, Admin, GraphQL-hooks

feat(admin): admin post query
  apps/admin/src/graphql/queries/adminPosts.graphql
  apps/admin/src/pages/posts/index.tsx
  apps/frontend/src/pages/feed.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/posts/[id]/index.tsx
  apps/frontend/src/pages/posts/[id]/preview.tsx
  apps/frontend/src/pages/posts/index.tsx
  apps/frontend/src/pages/projects/[id]/index.tsx
  apps/frontend/src/pages/projects/[id]/preview.tsx
  apps/frontend/src/pages/projects/index.tsx
  packages/graphql-hooks/generated/index.tsx
Labels: Frontend, Admin, GraphQL-hooks

feat(server): server side cleanup before release
  apps/admin/src/graphql/mutations/deleteProjectAdmin.graphql
  apps/admin/src/pages/projects/[id].tsx
  apps/admin/src/pages/utilities.tsx
  apps/common/src/urql/createUrqlClient.ts
  apps/server/src/dataloader/createPostDataLoader.ts
  apps/server/src/dataloader/createProjectLoader.ts
  apps/server/src/main.ts
  apps/server/src/resolvers/__tests__/project.test.ts
  apps/server/src/resolvers/__tests__/user.test.ts
  apps/server/src/resolvers/project/project.ts
  apps/server/src/test/__data__/user.ts
  apps/server/src/test/__mocks__/server.ts
  apps/server/src/types/Context.ts
  packages/graphql-hooks/generated/index.tsx
Labels: Server, Common, Admin, GraphQL-hooks

feat(server): fix unit/integrations tests
  apps/server/src/test/__data__/project.ts
  apps/server/src/test/__mocks__/prisma.ts
  apps/server/test.sh
  apps/server/test.txt
Labels: Server

feat(server): fix unit/integrations tests
  apps/server/jest.config.js
  apps/server/package.json
  apps/server/src/resolvers/__tests__/project.test.ts
  apps/server/src/resolvers/post/post.ts
  apps/server/src/resolvers/project/project.ts
  apps/server/src/test/__data__/post.ts
  apps/server/src/test/resetDb.ts
  apps/server/test.txt
  roadmap.md
Labels: Server

test(server): unit test post resolver fully
  apps/server/src/middleware/isAdmin.ts
  apps/server/src/resolvers/__tests__/post.test.ts
  apps/server/src/resolvers/__tests__/project.test.ts
  apps/server/src/resolvers/post/post.ts
  apps/server/src/resolvers/project/project.ts
  apps/server/src/test/__data__/post.ts
Labels: Server

chore(server): fix build
  apps/server/schema.graphql
  apps/server/src/dataloader/createProjectDataLoader.ts
Labels: Server

chore(docs): add contributing.md
  CONTRIBUTING.md
Labels: none

test(server): unit test post resolver fully
  apps/server/src/test/__mocks__/server.ts
Labels: Server

fix(server): fix server tests
  .github/workflows/build.yml
  apps/server/src/middleware/isAdmin.ts
  apps/server/src/resolvers/__tests__/post.test.ts
  apps/server/src/resolvers/post/post.ts
  package.json
Labels: Server, Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
  apps/server/package.json
Labels: Server, Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  .github/workflows/build.yml
Labels: Infrastructure

fix(server): fix server tests
  apps/server/src/resolvers/__tests__/post.test.ts
Labels: Server

chore(ci): fix build
  .github/workflows/build.yml
  packages/graphql-hooks/package.json
Labels: GraphQL-hooks, Infrastructure

chore(ci): fix build
  apps/frontend/package.json
Labels: Frontend

chore(ci): fix build
  apps/admin/package.json
Labels: Admin

chore: update roadmap.md
  roadmap.md
Labels: none

Update README.md
  README.md
Labels: Documentation

Update roadmap.md
  roadmap.md
Labels: none

Update README.md
  README.md
Labels: Documentation

Update roadmap.md
  roadmap.md
Labels: none

feat(infra): initial infrastructure scaffolding
  terraform/.gitkeep
  terraform/admin/main.tf
  terraform/admin/variables.tf
  terraform/admin/versions.tf
  terraform/frontend/main.tf
  terraform/frontend/variables.tf
  terraform/frontend/versions.tf
  terraform/server/main.tf
  terraform/server/variables.tf
  terraform/server/versions.tf
Labels: Server, Frontend, Admin, Infrastructure

Update variables.tf
  terraform/server/variables.tf
Labels: Server, Infrastructure

Update renovate.json
  renovate.json
Labels: none

refactor(ci): remove caching for now
  .github/workflows/build.yml
Labels: Infrastructure

fix(security): fix regex
  apps/frontend/src/validation/project.ts
Labels: Frontend

chore(all): update deps
  apps/admin/package.json
  apps/common/package.json
  apps/frontend/package.json
  apps/server/package.json
  package.json
  packages/editor/package.json
  packages/graphql-hooks/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Server, Frontend, Common, Admin, Editor, GraphQL-hooks, ui

feat(infra): initial setup of base infrastructure
  .gitignore
  Makefile
  terraform/admin/.terraform.lock.hcl
  terraform/admin/container-definitions.json
  terraform/admin/ecs.tf
  terraform/admin/lb.tf
  terraform/admin/main.tf
  terraform/admin/network.tf
  terraform/admin/variables.tf
  terraform/admin/versions.tf
  terraform/docker-compose.yml
  terraform/frontend/.terraform.lock.hcl
  terraform/frontend/container-defs.json
  terraform/frontend/ecs.tf
  terraform/frontend/lb.tf
  terraform/frontend/main.tf
  terraform/frontend/network.tf
  terraform/frontend/variables.tf
  terraform/frontend/versions.tf
  terraform/policies/assume-role-policy.json
  terraform/policies/task-exec-role.json
  terraform/server/.terraform.lock.hcl
  terraform/server/container-defs.json
  terraform/server/db.tf
  terraform/server/ecs.tf
  terraform/server/lb.tf
  terraform/server/main.tf
  terraform/server/network.tf
  terraform/server/outputs.tf
  terraform/server/variables.tf
  terraform/server/versions.tf
Labels: Server, Frontend, Admin, Infrastructure
